[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
webdriver-manager = "*"
fake-headers = "*"
selenium = "4.9.0"

[dev-packages]
black = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.10"
